<div class="row">
    <div class="col-sm-2">
       

    </div>
    <div class="col-sm-8">
        <a href="#" ui-sref="main"> <img src="../../../assets/images/home.png" style="text-align:center" width="64" height="64"/></a>
        
        <h1><img src="../../../assets/images/job.png" style="text-align:center" width="48" height="48"/> {{labels.heading1}}</h1>
        {{labels.heading1Text1}}<br />
        {{labels.heading1Text2}}
        <a href="mailto:contact@summ-it.be">contact@summ-it.be</a>
    </div>
</div>