<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
        <a href="#" ui-sref="main"> <img src="../../../assets/images/home.png" style="text-align:center" width="64" height="64"/></a>
        
        <h1><img src="../../../assets/images/contact.png" style="text-align:center" width="48" height="48"/> {{labels.heading1}}</h1>
        {{labels.heading1Text1}}<br />
        {{labels.email}} <a href="mailto:contact@summ-it.be">contact@summ-it.be</a><br />
        <!--{{labels.phone}} +32 479 11 52 69-->
    </div>
</div>