<div class="row">
    <div class="col-sm-2">
       

    </div>
    <div class="col-sm-8">
        <a href="#" ui-sref="main"> <img src="../../../assets/images/home.png" style="text-align:center" width="64" height="64"/></a>
        
        <h1><img src="../../../assets/images/service.png" style="text-align:center" width="48" height="48"/>{{labels.heading1}}</h1>
        {{labels.heading1Text1}}<br />
        {{labels.heading1Text2}}
        <h2><img src="../../../assets/images/software.png" style="text-align:center" width="48" height="48"/>{{labels.heading2}}</h2>
        {{labels.heading2Text1}}<br/>
        {{labels.heading2Text2}}
        <h2><img src="../../../assets/images/specialist.png" style="text-align:center" width="48" height="48"/>{{labels.heading3}}</h2>
        {{labels.heading3Text1}}<br />
        {{labels.heading3Text2}}<br/>
        <br/>
        {{labels.heading3Text3}}<br/>
        {{labels.heading3Text4}}
        <h2><img src="../../../assets/images/knowledge.png" style="text-align:center" width="48" height="48"/> {{labels.heading4}}</h2>
        {{labels.heading4Text1}}<br />
        {{labels.heading4Text2}}
        {{labels.presentationText}} : <a href="../../../assets/resources/Presentation.pptx">presentation.pptx</a>
    </div>
</div>