<div class="row">
    <div class="col-sm-2">
       

    </div>
    <div class="col-sm-8">
        <a href="#" routerLink="/"> <img src="../../../assets/images/home.png" style="text-align:center" width="64" height="64"/></a>
        
        <h1><img src="../../../assets/images/service.png" style="text-align:center" width="48" height="48"/>{{'services.heading1' | translate }}</h1>
        {{'services.heading1Text1' | translate }}<br />
        {{'services.heading1Text2' | translate }}
        <h2><img src="../../../assets/images/software.png" style="text-align:center" width="48" height="48"/>{{'services.heading2' | translate }}</h2>
        {{'services.heading2Text1' | translate }}<br/>
        {{'services.heading2Text2' | translate }}
        <h2><img src="../../../assets/images/specialist.png" style="text-align:center" width="48" height="48"/>{{'services.heading3' | translate }}</h2>
        {{'services.heading3Text1' | translate }}<br />
        {{'services.heading3Text2' | translate }}<br/>
        <br/>
        {{'services.heading3Text3' | translate }}<br/>
        {{'services.heading3Text4' | translate }}
        <h2><img src="../../../assets/images/knowledge.png" style="text-align:center" width="48" height="48"/> {{'services.heading4' | translate }}</h2>
        {{'services.heading4Text1' | translate }}<br />
        {{'services.heading4Text2' | translate }}
        {{'services.presentationText' | translate }} : <a href="../../../assets/resources/Presentation.pptx">presentation.pptx</a>
    </div>
</div>