<div class="row">
    <div class="col-sm-2">
      <!-- <a href="#" routerLink="/"> <img src="../../../assets/images/home.png" style="text-align:center" width="32" height="32"/></a>-->
    </div>
    <div class="col-sm-8">
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1><img src="../../../assets/images/octane.png" style="text-align:center" width="48" height="48"/> {{'octane.pageTitle' | translate }}</h1>
            </div>
            <div class="panel-body">
                {{ 'octane.introduction' | translate }}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{ 'octane.data' | translate }}</h4>
            </div>
            <div class="panel-body">
                <p>{{ 'octane.data.content' | translate }} </p>
            </div>
        </div>      

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{ 'octane.di'  | translate }}</h4>
            </div>
            <div class="panel-body">
            </div>
        </div>    
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{ 'octane.localization' | translate }}</h4>
            </div>
            <div class="panel-body">
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{ 'octane.mvvm'  | translate }}</h4>
            </div>
            <div class="panel-body">
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{ 'octane.service' | translate }}</h4>
            </div>
            <div class="panel-body">
            </div>
        </div>

         <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{ 'octane.serviceAgent'  | translate }}</h4>
            </div>
            <div class="panel-body">
            </div>
        </div>
                 
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{ 'octane.specification'  | translate }}</h4>
            </div>
            <div class="panel-body">
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{ 'octane.test'  | translate }}</h4>
            </div>
            <div class="panel-body">
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>{{ 'octane.validation'  | translate }}</h4>
            </div>
            <div class="panel-body">
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">                
                <h4>{{ 'octane.wpf' | translate }}</h4>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>