<div class="row">
    <div class="col-sm-2">
      <!-- <a href="#" routerLink="/"> <img src="../../../assets/images/home.png" style="text-align:center" width="32" height="32"/></a>-->
    </div>
    <div class="col-sm-8">
        <h1><img src="../../../assets/images/octane.png" style="text-align:center" width="48" height="48"/> {{'octane.pageTitle' | translate }}</h1>
        {{ 'octane.introduction' | translate }}
        <h3>{{ 'octane.data' | translate }}</h3>
        <p>{{ 'octane.data.content' | translate }} </p>
        <h3>{{ 'octane.di'  | translate }}</h3>
        <h3>{{ 'octane.localization' | translate }}</h3>
        <h3>{{ 'octane.mvvm'  | translate }}</h3>
        <h3>{{ 'octane.service' | translate }}</h3>
        <h3>{{ 'octane.serviceAgent'  | translate }}</h3>
        <h3>{{ 'octane.specification'  | translate }}</h3>
        <h3>{{ 'octane.test'  | translate }}</h3>
        <h3>{{ 'octane.validation'  | translate }}</h3>
        <h3>{{ 'octane.wpf' | translate }}</h3>
    </div>
</div>