<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <h1 style="text-align:center" translate="home.welcome">   
            {{ 'home.welcome' | translate }}   <br />    
            <img  src="./assets/images/logo.png"/>
        </h1>
        <h6 style="text-align:center">
                {{ 'home.moreInfo' | translate }} 
        </h6>
    </div>
</div>
    <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
        <div class="panel panel-main">
            <div class="panel-heading"><h3 style="text-align:center">
                    {{ 'home.services' | translate }}  </h3></div>
            <div class="panel-body ">
                <h1 style="text-align:center">
                    <a routerLink="/service" routerLinkActive="active" style="text-align:center">
                        <img src="./assets/images/service.png" style="text-align:center" width="128" height="128"/>
                    </a>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel panel-main">
            <div class="panel-heading"><h3 style="text-align:center">
                    {{ 'home.becomeCustomer' | translate }}</h3></div>
            <div class="panel-body ">
                <h1 style="text-align:center">
                    <a routerLink="/customer" routerLinkActive="active" style="text-align:center">
                        <img src="./assets/images/customer.png" style="text-align:center" width="128" height="128"/>
                    </a>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel panel-main">
            <div class="panel-heading"><h3 style="text-align:center">
                    {{ 'home.jobs' | translate }}</h3></div>
            <div class="panel-body ">
                <h1 style="text-align:center">
                    <a routerLink="/jobs" routerLinkActive="active" style="text-align:center">
                        <img src="./assets/images/job.png" style="text-align:center" width="128" height="128"/>
                    </a>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel panel-main">
            <div class="panel-heading"><h3 style="text-align:center">
                    {{ 'home.contact' | translate }}</h3></div>
            <div class="panel-body ">
                <h1 style="text-align:center">
                    <a routerLink="/contact" routerLinkActive="active" style="text-align:center">
                        <img src="./assets/images/contact.png" style="text-align:center" width="128" height="128"/>
                    </a>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="panel panel-main">
            <div class="panel-heading"><h3 style="text-align:center">
                    {{ 'home.archie' | translate }}</h3></div>
            <div class="panel-body ">
                <h1 style="text-align:center">
                    <a href="/contact" style="text-align:center">
                        <img src="./assets/images/archie.png" style="text-align:center" width="128" height="128"/>
                    </a>
                </h1>
            </div>
        </div>
    </div>
</div>