<nav class="navbar navbar-default navbar-fixed-top"  >
        <div class="container" style="height:100px">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                <a class="navbar-brand" routerLink="/" routerLinkActive="active" href="#"><img src="assets/images/logo.png" style="width:164px;height:72px" /></a> 
            </div>

            <div class="collapse navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="#" routerLink="/" routerLinkActive="active" class="nav-link-main">{{ 'menu.home' | translate }}</a></li>
                    <li><a href="#" routerLink="/contact" routerLinkActive="active" class="nav-link-main">{{ 'menu.contact' | translate }}</a></li>
                    <li><a href="#" routerLink="/service" routerLinkActive="active" class="nav-link-main">{{ 'menu.services' | translate }}</a></li>
                    <li><a href="#" routerLink="/jobs" routerLinkActive="active" class="nav-link-main">{{ 'menu.jobs' | translate }}</a></li>
                    <li>
                        <a class="dropdown-toggle nav-link-main" id="languages" data-toggle="dropdown"  role="button"
                            aria-haspopup="true"
                            aria-controls="languageMenu"
                            aria-expanded="true">{{currentLanguage}}<span class="caret"></span></a> 
                        <ul class="dropdown-menu collapse" aria-labelledby="languages">
                            <li><a href="#"  class="nav-link-main" (click)="setLanguage('nl')">NL</a></li>
                            <li><a href="#"  class="nav-link-main" (click)="setLanguage('en')">EN</a></li>
                            <li><a href="#"  class="nav-link-main" (click)="setLanguage('ru')">RU</a></li>
                        </ul> 
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>