<div class="row">
    <div class="col-sm-2">


    </div>
    <div class="col-sm-8">
        <a href="#" ui-sref="main"> <img src="../../../assets/images/home.png" style="text-align:center" width="64" height="64"/></a>
        
        <h1><img src="../../../assets/images/customer.png" style="text-align:center" width="48" height="48"/> {{labels.heading1}}</h1>
        {{labels.heading1Text1}}<br />
        {{labels.heading1Text2}}<br />
        {{labels.heading1Text3}}<br />
        {{labels.heading1Text4}}<br />
        {{labels.heading1Text5}}
        <h2><img src="../../../assets/images/service.png" style="text-align:center" width="48" height="48"/> {{labels.heading2}}</h2>
        {{labels.heading2Text1}}<br />
        {{labels.heading2Text2}}<br />
        {{labels.heading2Text3}}<br />
        {{labels.heading2Text4}}<br />
        {{labels.heading2Text5}}
    </div>
</div>