<div class="row">
    <div class="col-sm-2">


    </div>
    <div class="col-sm-8">
        <a href="#" routerLink="/"> <img src="../../../assets/images/home.png" style="text-align:center" width="64" height="64"/></a>
        
        <h1><img src="../../../assets/images/customer.png" style="text-align:center" width="48" height="48"/> {{'customer.heading1' | translate }}</h1>
        {{'customer.heading1Text1' | translate }}<br />
        {{'customer.heading1Text2' | translate }}<br />
        {{'customer.heading1Text3' | translate }}<br />
        {{'customer.heading1Text4' | translate }}<br />
        {{'customer.heading1Text5' | translate }}
        <h2><img src="../../../assets/images/service.png" style="text-align:center" width="48" height="48"/> {{'customer.heading2' | translate }}</h2>
        {{'customer.heading2Text1' | translate }}<br />
        {{'customer.heading2Text2' | translate }}<br />
        {{'customer.heading2Text3' | translate }}<br />
        {{'customer.heading2Text4' | translate }}<br />
        {{'customer.heading2Text5' | translate }}
    </div>
</div>